*{
    box-sizing: border-box;
}

html{
scroll-behavior: smooth;

}

img{
display: block;
max-width: 100%;
}

a{
text-decoration: none;
color:inherit;
}

ul{
list-style: none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;

}

body{
margin: 0px;
margin-top: 60px;
background-color: #131537;
background-size: 100vh;



}

.container{
display: flex;
flex-direction: column;
align-items: center;
gap: 60px;
justify-content: start;
height: 100%;
}


.logo{
width: 150px;
}

.result-box{
padding: 50px;
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-between;
width: 600px;
border: 1px solid white;
border-radius: 10px;

}

.result-message{
margin-top: -40px;
color: yellow;
font-size: 30px;
text-align: center;

}

.result-left{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
width: 150px;
height: 114px;
border-radius: 20px;
background-color: white;
font-family: sans-serif;
}

.player{
color: #1F3757;
font-size: 26px;
font-weight: 600;
}

.point-style{
color: #131537 ;
font-size: 46px;
font-weight: 800;

}

.result-right{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
width: 150px; 
height: 114px;
border-radius: 20px;
background-color: white;
font-family: sans-serif;   
}

.player2{
margin-top: 10px;
color: #1F3757;
font-size: 26px;
font-weight: 600;
}

.buttons{
width: 30%;
display: flex;
justify-content: center;
gap: 50px;
flex-wrap: wrap;
background-image: url(../assets/images/bg-triangle.svg);
background-repeat: no-repeat;
background-size: 80%;
background-position: center;
}



.paper{
display: flex;
align-items: center;
justify-content: center;
width:150px;
height: 150px;
border-radius: 50%;
background-color: white;
border: 20px solid #5771F5 ;
}

.paper:hover{
border: 26px solid #5771F5;
transition: 0.5s;
    
}

.scissors{
display: flex;
align-items: center;
justify-content: center;
width:150px;
height: 150px;
border-radius: 50%;
background-color: white;
border: 20px solid #EB9F10;
}

.scissors:hover{
    border: 26px solid #EB9F10;
    transition: 0.5s;
        
    }

.scissors-home{
align-items: center;
}

.rocks{
display: flex;
align-items: center;
justify-content: center;
width:150px;
height: 150px;
border-radius: 50%;
background-color: white;
border: 20px solid red ;
}

.rocks:hover{
    border: 26px solid red;
    transition: 0.5s;
        
    }

.buttons-game-container{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items:center;


}

.buttons-game-paper {
display: flex;
flex-direction: row;
gap: 300px;
}

.buttons-game-scissors{
display: flex;
flex-direction: row;
gap: 300px;

}

.buttons-game-rocks{
display: flex;
flex-direction: row;
gap: 300px;

}

.letters{
display: flex;
justify-content: space-between;
padding: 10px;
color: white;
font-family: sans-serif;
text-align: center;
font-size: 24px;
font-weight: 900;
width: 800px;
}

.play-again-button{
    padding: 10px;
    color: #131537;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500; 
    background-color: white; 
    border-radius: 20px; 
    margin-top: 20px;
}

.modal{
position: fixed;
align-items: center;
justify-content: center;
align-content: center;
top: 0;
left: 0;
width: 100vw;
height: 100vh;  
background-color: rgba(0, 0, 0, 0.8);  
scale:0;
}

.modal-show{
scale: 1;
}

.modal-img{
position: absolute;
margin-left: 720px;
margin-top: -200px;
}


.container-modal-button{
position: absolute;
margin-top: -700px;
width: 1700px;
display: flex;
align-items: end;
justify-content: end;
}

.open-modal{
font-size: 24px;
font-family: sans-serif;
padding: 8px;
border-radius: 10px;
}

.open-modal:hover{
font-size: 20px;
text-align: center;
transition: 0.3s;
cursor: pointer;
}

/* pagina home */

.container-home{
display: flex;
align-items: center;
justify-content: center;
margin-top: 15%;

}